{% extends "layout.html" %}

{% block heading %}
  <title>Channels List</title>
  <style media="screen">
    .container{
      display: flex-wrap;;
    }
    .card{
      margin: 20px;
    }
  </style>
  <script src="{{ url_for('static', filename='script/channels.js') }}"></script>
  <script type="text/javascript">
    localStorage.setItem('signin', true);
  </script>

{% endblock %}

{% block body %}
  <div class="container">
    <input class="form-control" type="text" placeholder="Search for a group">
    <div style = "text-align:right">
      <a href="" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Create new group</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id = "form">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Group name" id = "group_name">
                  </div>
                  <div class="col">
                    <input type="password" class="form-control" placeholder="Group password" id = "group_password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-success" id = "submit" value = "Save changes" >
          </div>
          </form>
        </div>
      </div>
    </div>

    {% for channel in chat_channels %}
    <div class="card" style="width: 80%;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ channel.name }}</h5>
        <p class="card-text">{{ channel.description }}</p>
        <a class="btn btn-primary" href="{{ url_for('channels') }}/{{ channel.name }}">Go to the chat room</a>
        <a class="btn btn-danger">Delete this group</a>
      </div>
    </div>
    {% endfor %}
</div>

  </div>
{% endblock %}
