{% extends "layout.html" %}
<html lang="en" dir="ltr">
{% block heading %}
    <meta charset="utf-8">
    <title>{{ this_channel.name }}</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/channel.css') }}">
    <script src="{{ url_for('static', filename='script/channel.js') }}"></script>
{% endblock %}

{% block body %}

<div class="message-body">
  <div class="container">
    <img src="{{ url_for('static', filename='images/avatar1.jpg') }}" alt="Avatar">
    <h5>Tommy</h5>
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="container darker">
    <img src="{{ url_for('static', filename='images/avatar1.jpg') }}" alt="Avatar" class="right">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>

  <div class="container">
    <img src="{{ url_for('static', filename='images/avatar1.jpg') }}" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>

  <div class="container darker">
    <img src="{{ url_for('static', filename='images/avatar1.jpg') }}" alt="Avatar" class="right">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
    </div>
  {% for mess in this_channel.message %}
  <div class="container darker">
    <img src="https://png.pngtree.com/svg/20160826/5edcf67c9c.svg" alt="Avatar" class="right">
    <h6>{{ mess.username }}</h6>
    <p>{{ mess.chat }}</p>
    <span class="time-left">{{ mess.time }}</span>
    </div>
  {% endfor %}

</div>
<div class="container">
  <form id = "form">
     <div class="form-row">
       <div class="col-10">
      <input type="text" id = "mess" autofocus ="autofocus" class = "form-control">
      </div>
      <div class="col">
    <input type="submit" class="btn btn-success" value="submit">
    </div>
    </div>
  </form>
</div>
{% endblock %}
