{% extends "layout.html" %}
<html lang="en" dir="ltr">
{% block heading %}
    <meta charset="utf-8">
    <title>Chat</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/channel.css') }}">
    <script src="{{ url_for('static', filename='script/channel.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="container">
    <img src="{{ url_for('static', filename='images/avatar1.jpg') }}" alt="Avatar">
    <h5>Tommy</h5>
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="container darker">
    <img src="{{ url_for('static', filename='images/avatar1.jpg') }}" alt="Avatar" class="right">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>

  <div class="container">
    <img src="/w3images/bandmember.jpg" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>

  <div class="container darker">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
    </div>
  <div class="container">
    <textarea name="name" rows="8" style="width:100%" id = "mess"></textarea>
    <button type="button" class = "btn btn-success" id="send">Send</button>
  </div>
{% endblock %}
