{% extends "layout.html" %}

{% block heading %}
  <title>Channels List</title>
  <style media="screen">
    .container{
      display: flex-wrap;;
    }
    .card{
      margin: 20px;
    }
  </style>

  <script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    <input class="form-control" type="text" placeholder="Search for a group">
    <div style = "text-align:right">
      <button type="button" class="btn btn-success" style="">Create new group</button>
    </div>
    <form action="{{ url_for('channels') }}" method="POST">
          <input class="form-control" style="width:100%" type="text" placeholder="Search for a group">
          <div style = "text-align:right">
            <button type="button" class="btn btn-success" style="">Create new group</button>
          </div>
    </form>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card" style="width: 80%;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <a href="#" class="btn btn-danger">Delete this group</a>
      </div>
    </div>
</div>

  </div>
{% endblock %}
